.movie_list {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 15px;
  flex-wrap: wrap;
}
.loading {
  text-align: center;
  color: rgb(126, 126, 126);
}
.loading_warn {
  text-align: center;
  color: rgba(205, 208, 0, 0.379);
}
