body {
  background-color: #e0e0e0;
  margin: 0;
  padding: 0 30px;
  font-family: "Inter", sans-serif;
}
main {
  max-width: 1060px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #ffffff;
}
.ant-alert {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
