@media (max-width: 1111px) {
  .movie_list {
    justify-content: center;
  }
  .search_input {
    width: 600px;
  }
}
@media (max-width: 1000px) {
  .ant-alert {
    max-width: 550px !important;
  }
}
@media (max-width: 720px) {
  .search_input {
    width: 388px;
  }
  .ant-alert {
    max-width: 320px !important;
  }
  .movie_items {
    width: 388px;
    height: 245px;
    padding: 5px;
  }
  .movie_img {
    width: 60px;
    height: 90px;
  }
  .movie_p {
    width: 300px;
    margin-top: 15px;
    margin-left: -74px;
    height: 92px;
  }
  .ant-rate {
    position: absolute;
    right: 10px;
    top: 225px;
  }
  .movie_title {
    margin-top: 4px;
  }
}
@media (max-width: 380px) {
  .search_input {
    width: 200px;
    height: 30px;
  }
  body {
    padding: 15px !important;
  }
  .button_search,
  .button_rated {
    font-size: 14px;
  }
  .movie_items {
    height: 220px;
  }
  .ant-rate {
    top: 200px;
  }
  .movie_title {
    font-size: 16px;
    width: 180px;
    height: 22px;
  }
}
@media (max-width: 480px) {
  .search_input {
    width: 240px;
    height: 30px;
  }
  .ant-alert {
    max-width: 270px !important;
  }
  body {
    padding: 0 5px !important;
  }
}
