img {
  width: 183px;
  height: 279px;
  object-fit: cover;
}
.movie_items {
  width: 446px;
  padding-right: 15px;
  height: 279px;
  transition: 0.3s;
  box-shadow: 2px 0 10px rgba(83, 82, 82, 0.5);
  list-style: none;
}
.items_div {
  display: flex;
  gap: 15px;
}
.movie_p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 228px;
  text-overflow: ellipsis;
  line-height: 22px;
  height: 130px;
}
.movie_title {
  font-size: 22px;
  margin-bottom: 5px;
  width: 190px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie_date {
  color: #827e7e;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.movie_genres {
  display: flex;
  padding: 0;
  font-size: 12.5px;
  gap: 10px;
}
.movie_genre {
  list-style: none;
  color: rgba(0, 0, 0, 0.67);
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 2px 5px;
}
.movie_items:hover {
  box-shadow: 2px 0 10px rgba(0, 157, 255, 0.5);
}
.ant-rate {
  display: flex;
}
.ant-rate-star {
  margin-right: 5px !important;
}
li {
  position: relative;
}

.movie_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
